@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
}

.content {
    position: absolute;
    top: 120px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1 {
    font-size: 40px;
    font-weight: 800;
    color: #fff;
    margin-left: 30px;
}

input {
    height: 30px;
    margin-bottom: 2px;
    border-radius: 40px;
    height: 40px;
    padding-left: 5px;
    border: none;
}

button {
    width: 200px;
    margin-left: 130px;
    height: 40px;
    border-radius: 20px;
    background: linear-gradient(to bottom, #00ff00 0%, #ffffff 100%);
    border: 1px solid #00ff00;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

button:hover {
    filter: brightness(1.5);
}

button:active {
    filter: brightness(2.0);
}

img {
    height: 300px;
}

.show-contacts {
    width: 250px;
    height: 500;
    position: absolute;
    right: 80px;
    top: 140px;
    box-shadow: 5px 5px 10px rgba(191, 191, 191, 0.8);
    text-align: center;
}

p {
    color: #fff;
}